body {
    background-color: #f0f8ff; /* светло-голубой фон */
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #2c3e50; /* тёмно-серый цвет заголовков */
}

img {
    width: 100%;
    border-radius: 10px;
}
