<h2>Книги дороже 2000 ₸</h2>
<ul>
  {% for book in books_expensive %}
    <li>{{ book.title }} — {{ book.price }} ₸</li>
  {% empty %}
    <li>Нет дорогих книг</li>
  {% endfor %}
</ul>

<h2>Книги после 2010 года</h2>
<ul>
  {% for book in books_recent %}
    <li>{{ book.title }} ({{ book.year }})</li>
  {% empty %}
    <li>Нет современных книг</li>
  {% endfor %}
</ul>

<h2>Книги Толстого</h2>
<ul>
  {% for book in books_tolstoy %}
    <li>{{ book.title }} — {{ book.author }}</li>
  {% empty %}
    <li>Нет книг Толстого</li>
  {% endfor %}
</ul>
